$color-1:#2C3E50;
$color-2:#A1B1BC;

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    .container {
        width:1170px;
        margin:auto;

        .badge {
            border-radius:5px;
            border:1px solid #E2E6E7;
            margin-top:20px;

            div {
                padding-left: 142px;
                padding-top:42px;
                padding-bottom:42px;
                font-family: 'Lato', sans-serif;
                
                &:before {
                    font-family:fontawesome;
                    content:'\f12a';
                }

                h2 {
                    color:$color-1;
                    font-family: 'Lato', sans-serif;
                    font-weight:900;
                    font-size:14px;
                    line-height: 26px;
                }

                p {
                    color:$color-2;
                    font-weight:400;
                    font-size:14px;
                    line-height:24px;
                }
            }
        }
    }
}