@import 'reset';
@import 'base';
@import 'palette';
@import 'styles/components/notification/index';

.container {
    display: grid;
    grid-gap: 29px;
    grid-template-columns: repeat(2, 1fr);
    width: 1170px;
    margin: 30px auto;
}
