$color-1: #2c3e50;
$color-2: #a1b1bc;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  .container {
    width: 1170px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;

    .badge {
      border-radius: 7px;
      border: 1px solid #e2e6e7;
      margin-right: 30px;
      margin-bottom: 30px;
      position: relative;

      &:nth-child(2n) {
        margin-right: 0px;
      }

      div {
        padding: 34px 58px 34px 142px;
        font-family: "Lato", sans-serif;
        position: relative;

        &:before {
          font-family: fontawesome;
          content: "\f12a";
          background: #ffc12d;
          padding: 12px 20px;
          display: inline-block;
          border: 7px solid #f9b718;
          position: absolute;
          border-radius: 50%;
          font-size: 24px;
          line-height: 26px;
          color: #a47503;
          left: 50px;
          top: 42px;
        }

        h2 {
          color: $color-1;
          font-family: "Lato", sans-serif;
          font-weight: 900;
          font-size: 14px;
          line-height: 26px;
          letter-spacing: 1.41px;
          margin-bottom: 6px;
        }

        p {
          color: $color-2;
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
        }
      }

      a {
        position: absolute;
        top: 15px;
        right: 17px;
        text-decoration: none;
        color: #cfd2d3;

        &:before {
          font-family: fontawesome;
          content: "\f00d";
          width: 10px;
          height: 10px;
          font-size: 14px;
        }
      }
    }

    .success {
      div {
        &:before {
          content: "\f00c";
          background: #97e411;
          padding: 12px 13px;
          border: 7px solid #7bc200;
          color: #558502;
        }
      }
    }

    .danger {
      div {
        &:before {
          content: "\f00d";
          background: #fd7761;
          padding: 12px 15px;
          border: 7px solid #f55c43;
          color: #d52e13;
          font-size: 25px;
        }
      }
    }

    .light {
      div {
        &:before {
          content: "\f0e7";
          background: #6fd9fc;
          padding: 12px 19px;
          border: 7px solid #47b4f6;
          color: #0787d4;
        }
      }
    }

    .info {
      margin-right: 0px;

      div {
        &:before {
          content: "\f129";
          background: #a39cdc;
          border: 7px solid #8781bd;
          color: #5b568e;
        }
      }
    }

    .width {
      &-full {
        width: 100%;
      }
      &-half {
        width: 48.7%;
      }
    }
  }
}
