$color-1: #2C3E50;
$color-2: #A1B1BC;
$color-3:#A47503;
$color-4:#B18009;
$color-5:#558502;
$color-6:#D52E13;
$color-7:#0787D4;
$color-8:#5B568E;
$bg-1:#FFC12D;
$bg-2:#A7EC2F;
$bg-3:#FEB1A4;
$bg-4:#85EBFA;
$bg-5:#AACDF6;
$border-1:#C89210;
$border-2:#7BC200;
$border-3:#F55C43;
$border-4:#47B4F6;
$border-5:#8781BD;
$border-6:#E2E6E7;
